/*
--- 01 TYPOGRAPHY SYSTEM

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    
- FONT WEIGHTS:
DEFAULT: 400
medium:500
semi bold:600
bold:700        

- LINE HEIGHTS:
DEFAULT:1
small:1.05
paragraph default:1.6


- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 05 SHADOWS

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER RADIUS

default:9px
medium:11px

--- 07 Whitespace

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --color-brand--1: #161a30;
  --color-brand--2: #31304d;
  --color-brand--3: #b6bbc4;
  --color-brand--4: #f0ece5;
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 700;
  --font-weight-4: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
  /* background-color: var(--color-brand--4); */
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  overflow-x: hidden !important;
  cursor: none;
  position: relative;
  height: 100%;
  width: 100%;
  font-family: "Colus", sans-serif;
  display: flex;
  flex-direction: column;
}
.nav-bar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 10vh;
  width: 80vw;
  z-index: 10;
  padding: 1.2rem 0.6rem;
  border: solid 0.2rem hsla(38, 27%, 92%, 0.501);
  border-radius: 0.8rem;
  background-color: hsla(231, 38%, 14%, 0.699);
  backdrop-filter: blur(5px);
}

.nav-bar a {
  text-decoration: none;
  cursor: none;
}
.nav-progress-bar {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.progress-bar {
  padding: 0.4rem 0.2rem;
  width: 100%;
  height: 1.6rem;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.4s ease;
  background-color: hsla(38, 27%, 92%, 0.703);
}
.blendDiff {
  color: var(--color-brand--3);
  transition: all 0.2s;
}
.blendDiff:hover {
  columns: var(--color-brand--4);
}
/* .blendDiff:hover {
  border: solid 0.2rem var(--color-brand--4);
} */
.cursor {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid;
  mix-blend-mode: difference;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  margin-top: -20px;
  margin-bottom: -20px;
  pointer-events: none;
  transition: all 0.2 ease;
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.grow,
.grow-small {
  /* transform: translate(-50%, -50%); */
  transform: scale(5);
  background: var(--color-brand--4);
  mix-blend-mode: difference;
  border: none;
}
.grow-small {
  transform: scale(2.5);
}
/* .hover-grow {
  transform: scale(2);
  background-color: var(--color-brand--2);
} */
.invert {
  border: 2px solid var(--color-brand--4);
}

/* Project Section*/
.projects-section {
  display: flex;
  flex-direction: column;
  margin-top: 50vh;
  padding: 10rem 8rem;
  background-color: var(--color-brand--4);
  gap: 4rem;
}
.section-header {
  font-weight: var(--font-weight-3);
  color: var(--color-brand--2);
  font-size: 1.6rem;
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.portfolio1-project,
.mapty-project,
.omnifood-project {
  display: grid;
  padding: 6rem 4rem;
  background-color: var(--color-brand--3);
  border-radius: 0.6rem;
  box-shadow: 0 0 2.4rem 1rem rgba(0, 0, 0, 0.2);
  justify-items: center;
  align-items: center;
}
.portfolio1-project {
  grid-template-columns: 4fr 5fr;
}
.mapty-project {
  grid-template-columns: 5fr 4fr;
}
.omnifood-project {
  grid-template-columns: 4fr 5fr;
}
.portfolio-content,
.mapty-content,
.omnifood-content {
  font-size: 1.6rem;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.project-heading {
  color: var(--color-brand--1);
  font-weight: var(--font-weight-3);
}
.project-link {
  text-decoration: none;
  cursor: none;
}
.project-link:visited {
  color: var(--color-brand--2);
}
.project-description {
  color: var(--color-brand--2);
  font-weight: var(--font-weight-3);
  font-size: 1.2rem;
}
.project-skill {
  color: var(--color-brand--2);
  font-size: 3.6rem;
}
.portfolio-carousel,
.mapty-carousel,
.omnifood-carousel {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
.portfolio-carousel-image,
.mapty-carousel-image,
.omnifood-carousel-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27rem;
  width: 45rem;
  background-color: #25413c;
  /* height: 100%;
  width: 100%; */
  /* transform: scale(0.5); */
  overflow: hidden;
}
.mapty-carousel-image {
  background-color: #00c46a;
}
.omnifood-carousel-image {
  background-color: #e67e22;
}
.portfolio-carousel-image img,
.mapty-carousel-image img,
.omnifood-carousel-image img {
  transform: scale(0.35);
  object-fit: cover;
}

.portfolio-slider,
.mapty-slider,
.omnifood-slider {
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
  border-radius: 0.4rem;
  overflow-x: hidden;
  box-shadow: 0 0 2.4rem 1rem rgba(0, 0, 0, 0.3);
}
.portfolio-slide,
.mapty-slide,
.omnifood-slide {
  transition: transform 1s;
}

.portfolio-slide:nth-child(2),
.mapty-slide:nth-child(2),
.omnifood-slide:nth-child(2) {
  position: absolute;
  top: 0%;
  width: 100%;
}
.portfolio-slide:nth-child(3),
.mapty-slide:nth-child(3),
.omnifood-slide:nth-child(3) {
  position: absolute;
  top: 0%;
  width: 100%;
}
.portfolio-slide:nth-child(4),
.omnifood-slide:nth-child(4) {
  position: absolute;
  top: 0%;
  width: 100%;
}

.portfolio-slider__btn,
.mapty-slider__btn,
.omnifood-slider__btn {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.5);

  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  cursor: none;
}

.portfolio-slider__btn--left,
.mapty-slider__btn--left,
.omnifood-slider__btn--left {
  left: 5%;
  transform: translate(-50%, -50%);
}

.portfolio-slider__btn--right,
.mapty-slider__btn--right,
.omnifood-slider__btn--right {
  right: 5%;
  transform: translate(50%, -50%);
}

.skills-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  background-color: var(--color-brand--2);
  padding: 3.2rem 2rem;
  height: 100vh;
  width: 100vw;
  /* overflow-y: hidden !important; */
}
.skills-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-brand--4);
  gap: 1rem;
}
.skills-content .section-header {
  color: var(--color-brand--3);
  align-self: flex-start;
}
.skills-description {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding: 1rem; */
  column-gap: 4rem;
  text-align: center;
  row-gap: 4rem;
  align-self: flex-start;
}
.skill {
  /* color: var(--color-brand--3); */
  font-size: 3.6rem;
}
.soft-skills {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* color: var(--color-brand--3); */
}
.soft-skills h4 {
  font-weight: var(--font-weight-2);
  color: var(--color-brand--3);
}
.soft-skills p {
  font-weight: var(--font-weight-1);
}
.circle-mask {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  overflow: hidden;
  /* background-color: white; */
  /* transform: scale(40%); */
}
.mask-container {
  border-radius: 50%;
  overflow: hidden;
  height: 15rem;
  width: 15rem;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover {
  transform: scale(0.4);
}

/* horizontal scroll section*/
.horizontal-scroll-section {
  display: flex;
  width: 300vw;
  overflow: hidden;
  background-color: var(--color-brand--1);
  position: relative;
}

/*footer section*/
.footer-section {
  height: 70vh;
  margin-top: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  text-align: center;
  background: #161a30;
  color: white;
  height: 30vh;
}
.footer-waves {
  height: 100%;
}
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  width: 100%;
  height: 30vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  /*   max-height:10vw; */
}
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
/* @media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
} */
.footer-content-container {
  height: 40vh;
  background-color: var(--color-brand--4);
}
.footer-content-container {
  display: flex;

  flex-direction: column;
  padding: 3.2rem;
  align-items: center;
  justify-content: center;
}
.footer-content-wrapper {
  color: var(--color-brand--1);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.6rem;
}
.footer-content {
  font-size: 2.4rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: space-around;
}
.footer-content a {
  color: var(--color-brand--1);
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.footer-content a:hover {
  color: var(--color-brand--2);
}
.copyright-content {
  color: var(--color-brand--2);
  font-size: 1.2rem;
}
